{% extends 'base.html' %}

{% block content %}
    <table>
        <tr>
            <th class="head">Created</th>
            <th class="head">Won</th>
            <th class="head">Target</th>
            <th class="head">Forecast</th>
            <th class="head">Probability</th>
        </tr>
        <tr>
            <!-- Created $ -->
            <td class="cells">{{ 1000000.00 - values['total'] }} €</td>
            <!-- Won $ -->
            <td class="cells">{{ values['total'] }} €</td>
            <!-- Target -->
            <td class="cells">{{ 1000000.00 - values['total'] }} €</td>
            <!-- Forecast $ -->
            <td class="cells">1,000,000.00 €</td>
            <!-- Probability $ -->
            <td class="cells">89 %</td>
        </tr>
    </table>
{% endblock %}
