{% extends 'base.html' %}

{% block content %}
    <table>
        <tr>
            <th class="head">Monat</th>
            <th class="head">Generiert</th>
            <th class="head">Gewonnen</th>
            <th class="head">Ziel</th>
            <th class="head">Erwartet</th>
        </tr>
        <tr>
                <!-- Month $ -->
                <td class="cells">{{ months['previous'] }}</td>
                <!-- Created $ -->
                <td class="cells">{{'{0:,} €'.format(values['aaa']['total_created']).replace(',','.')}}</td>
                <!-- Won $ -->
                <td class="cells">{{'{0:,} €'.format(values['aaa']['total_won']).replace(',','.')}}</td>
                <!-- Target -->
                <td class="cells">{{'{0:,} €'.format(832000.0).replace(',','.')}}</td>
                <!-- Expected $ -->
                <td class="cells">{{'{0:,} €'.format(values['aaa']['total_expected']).replace(',','.')}}</td>
            </tr>
            <tr>
                <!-- Month $ -->
                <td class="cells">{{ months['current'] }}</td>
                <!-- Created $ -->
                <td class="cells">{{'{0:,} €'.format(values['bbb']['total_created']).replace(',','.')}}</td>
                <!-- Won $ -->
                <td class="cells">{{'{0:,} €'.format(values['bbb']['total_won']).replace(',','.')}}</td>
                <!-- Target -->
                <td class="cells">{{'{0:,} €'.format(values['bbb']['total_target']).replace(',','.')}}</td>
                <!-- Expected $ -->
                <td class="cells">{{'{0:,} €'.format(values['bbb']['total_expected']).replace(',','.')}}</td>
            </tr>
        <tr>
                <!-- Month $ -->
                <td class="cells">{{ months['following'] }}</td>
                <!-- Created $ -->
                <td class="cells">{{'{0:,} €'.format(values['ccc']['total_created']).replace(',','.')}}</td>
                <!-- Won $ -->
                <td class="cells">{{'{0:,} €'.format(values['ccc']['total_won']).replace(',','.')}}</td>
                <!-- Target -->
                <td class="cells">{{'{0:,} €'.format(384000.0).replace(',','.')}}</td>
                <!-- Expected $ -->
                <td class="cells">{{'{0:,} €'.format(values['ccc']['total_expected']).replace(',','.')}}</td>
            </tr>
    </table>
{% endblock %}
