{% extends 'base.html' %}

{% block content %}
    <table>
        <tr>
            <th class="head">Created</th>
            <th class="head">Won</th>
            <th class="head">Target</th>
            <th class="head">Expected</th>
        </tr>
        <tr>
            <!-- Created $ -->
            <td class="cells">{{'{0:,} €'.format(values['total_created']).replace(',','.')}}</td>
            <!-- Won $ -->
            <td class="cells">{{'{0:,} €'.format(values['total_won']).replace(',','.')}}</td>
            <!-- Target -->
            <td class="cells">{{'{0:,} €'.format(values['total_target']).replace(',','.')}}</td>
            <!-- Expected $ -->
            <td class="cells">{{'{0:,} €'.format(values['total_expected']).replace(',','.')}}</td>
        </tr>
    </table>
{% endblock %}
